<h2>Login</h2>
<form action="" id="loginForm">
    <label for="">email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="passwords" name="password">

    <button type="submit">Iniciar sesion</button>
</form>
<br>
<div>
    <a href="/api/auth/github"> <button>Ingresar con github</button></a>
</div>

<a href="forgotPasswords"> Restaurar contraseña</a>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
